img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  background: #2f485b;
  background-size: 100%;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
  color: #2f485b;

  input, textarea, button {
    color: #2f485b;
  }
}

.pre-header {
  display: flex;
  align-content: center;
  height: 50px;

  .pre-header__links {
    display: flex;
    align-content: center;
    height: 40px;
    background-color: #fff; 

    .lang-choose {
      border: 0;
      padding: 12px 15px;
      background: none;

      i.fas {
        &.fa-globe-europe {
          font-size: 16px;
          margin-right: 10px;
          color: #2f485b;
        }

        &.fa-caret-down {
          font-size: 12px;
          vertical-align: 2px;
        }
      }
    }

    a {
      padding: 12px 16px;
      font-size: 13px;
      color: currentColor;
      
      i.fas.fa-phone {
        font-size: 14px;
        margin-right: 12px;
      }
    }
  }

  .message {
    flex-grow: 1;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #60d4e6;
    color: #2f485b;

    strong {
      font-weight: bold;
    }
  }

  .espace-chauffeur {
    padding: 16px 16px;
    font-size: 13px;
    height: 50px;
    box-sizing: border-box;
    background-color: #fff;
    color: currentColor;

    i.fas.fa-car {
      font-size: 16px;
      margin-right: 8px;
    }
  }
}

header {
  width: 1070px;
  margin: 0 auto;
  margin-top: 20px;

  .top-header {
    border-bottom: 1px solid #fff2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo {
      img {
        height: 78px;
        margin-left: -20px;
        display: block;
      }
    }

    .user-links {
      font-size: 14px;
      
      .login {
        display: inline-block;
        color: #02eaa2;
        margin-right: 16px;
      }
      .register {
        display: inline-block;
        color: #fff;
      }
    }
  }

  nav.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;

    ul {
      padding: 0;
      list-style: none;
      color: #fff;

      li {
        display: inline-block;

        a {
          color: currentColor;
          text-decoration: none;
        } 
      }

      &.main-nav li { margin-right: 30px; }
      &.social li { margin-left: 30px; }
    }
  }
}

main {
  width: 1070px;
  margin: 0 auto;
  margin-top: 25px;

  .hero {
    color: #fff;
    text-align: center;
    padding: 0 50px;
    box-sizing: border-box;
    font-size: 33px;
  }

  > .content {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 100fr 142fr;
    gap: 30px;
    align-items: start;

    .booking {
      padding: 0 30px;
      background-color: #fff;

      &__title {
        text-align: center;
        font-weight: normal;
        color: #2f485b;
        margin: 0.9em 0;
      }

      .form-group {
        font-size: 14px;
        width: 100%;
        margin-bottom: 20px;
      }

      &__when {
        display: flex;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        background-color: #ecebec;

        .radio-element {
          width: 50%;
          text-align: center;

          input { display: none; }
          input:checked + label {
            background-color: #02eaa2;
          }

          label {
            display: block;
            line-height: 40px;
          }
        }
      }

      &__where {
        .address-input {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #ecebec;
          padding: 6px 16px;

          .input {
            i {
              margin-right: 12px;
            }

            input {
              height: 35px;
              background: none;
              border: none;
              font-size: 14px;
            }
          }

          .icons {
            i {
              margin-left: 16px;
            }
          }
        }

        .add-step-input {
          padding: 16px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;

          button {
            background: none;
            border: none;
            line-height: 18px;
            padding-left: 16px;
            font-size: 14px;

            i {
              margin-right: 10px;
            }
          }
        }
      }

      &__panel {
        display: flex;
        justify-content: space-between;

        input { display: none; }
        input:checked + .checkbox {
          background-color: #02eaa2;
          &::before {
            left: 24px;
            background-color: #fff;
          }
        }

        label {
          line-height: 30px;
        }

        .checkbox {
          background-color: #ecebec;
          border-radius: 25px;
          width: 50px;
          height: 30px;
          position: relative;
          transition: .2s ease-out;

          &::before {
            content: '';
            position: absolute;
            top: 4px;
            left: 4px;
            border-radius: 11px;
            width: 22px;
            height: 22px;
            background-color: #cacaca;
            transition: .2s ease-out;
          }
        }
      }

      &__datetime {
        padding: 5px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        background-color: #ecebec;

        .input {
          input {
            background: none;
            border: none;
          }
          
          &.date {
            i { margin: 0 8px 0 10px; }
            input {
              display: inline-block;
              height: 40px;
              padding: 0;
              font-family: 'Poppins', sans-serif;
            }
          }

          &.time {
            input {
              display: inline-block;
              width: 60px;
              margin: 0 10px;
              height: 40px;
              padding: 0;
              font-size: 14px;
            }
          }
        }
      }

      &__cartype {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        padding-top: 15px;
        margin-bottom: 5px !important;

        .radio-element {
          width: calc(100% / 3);
          text-align: center;
          position: relative;
          padding-top: 60px;
          margin-right: 2px;

          input { display: none; }
          input:checked + label {
            border: 2px solid #02eaa2;
          }

          label {
            position: absolute;
            border: 1px solid #ecebec;
            top: 0; left: 0; bottom: 0; right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 1px;
          }

          .info {
            display: flex;
            height: 25px;
            font-size: 12px;
            align-items: center;
            background-color: #ecebec;

            > div {
              width: 50%;
              i {
                margin-right: 5px;
              }
            }
          }
        }
      }

      > button {
        display: block;
        width: 55%;
        height: 50px;
        transform: translate3d(0, 50%, 0);
        background-color: #02eaa2;
        margin: 0 auto;
        font-size: 18px;
        color: black;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
      }
    }

    section.offers {
      section.offer {
        height: 255px;
        overflow: hidden;
        margin-bottom: 30px;
        position: relative;

        &--blue {
          &::after {
            background-color: #68a0ff;
            right: -190px;
          }

          .content {
            float: right;
            width: 175px;
            margin: 55px 65px;
          }
        }

        &--purple {
          &::after {
            background-color: #a883b1;
            left: -190px;
          }

          .content {
            width: 255px;
            margin: 55px 25px;
          }
        }

        &::after {
          content: '';
          height: 500px;
          width: 500px;
          border-radius: 50%;
          position: absolute;
          top: -125px;
          z-index: -1;
        }

        .background {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
          z-index: -2;
        }

        .content {
          text-align: center;

          h3 {
            margin: 0;
            font-size: 25px;
            color: #fff;

            span {
              color: #000;
            }
          }

          a {
            display: inline-block;
            margin-top: 20px;
            color: #fff;
            font-size: 15px;
          }
        }
        
        &--blue, &--purple { }
      }
    }

  }
}