body {
  margin: 0;
  background: url('./assets/mockup.png'); // #2f485b; // 
  background-size: 100%;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
}

section.pre-header {
  display: flex;
  align-content: center;
  height: 50px;

  .pre-header__links {
    display: flex;
    align-content: center;
    height: 40px;
    background-color: #fff;

    button.lang-choose {
      border: 0;
      padding: 12px 15px;
      background: none;

      i.fas {
        &.fa-globe-europe {
          font-size: 16px;
          margin-right: 10px;
          color: #2f485b;
        }

        &.fa-caret-down {
          font-size: 12px;
          vertical-align: 2px;
        }
      }
    }

    a {
      padding: 12px 16px;
      font-size: 13px;
      color: currentColor;
      
      i.fas.fa-phone {
        font-size: 14px;
        margin-right: 8px;
      }
    }
  }

  .message {
    flex-grow: 1;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #60d4e6;
    color: #2f485b;

    strong {
      font-weight: bold;
    }
  }

  a.espace-chauffeur {
    padding: 16px 16px;
    font-size: 13px;
    height: 50px;
    box-sizing: border-box;
    background-color: #fff;
    color: currentColor;

    i.fas.fa-car {
      font-size: 16px;
      margin-right: 8px;
    }
  }
}

header {
  width: 1070px;
  margin: 0 auto;
  margin-top: 20px;

  section.top-header {
    border-bottom: 1px solid #fff2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .logo {
      img {
        height: 78px;
        margin-left: -20px;
        display: block;
      }
    }

    .user-links {
      font-size: 14px;
      
      .login {
        display: inline-block;
        color: #02eaa2;
        margin-right: 16px;
      }
      .register {
        display: inline-block;
        color: #fff;
      }
    }
  }

  nav.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    
    ul {
      padding: 0;
      list-style: none;
      color: #fff;

      li {
        display: inline-block;

        a {
          color: currentColor;
          text-decoration: none;
        } 
      }
      
      &.main-nav {
        li {
          margin-right: 30px;
        }
      }
      &.social {
        li {
          margin-left: 30px;

          a {
            i.fab {
              &.fa-facebook, &.fa-twitter, &.fa-linkedin {}
            }
          }
        }
      }
    }
  }
}

main {
  width: 1070px;
  margin: 0 auto;
  color: #fff;
  margin-top: 25px;

  .hero {
    text-align: center;
    padding: 0 50px;
    box-sizing: border-box;
    font-size: 33px;
  }

  .content {
    form.booking {
      h2.booking__title {}
      .form-group {
        &.booking__when {
          .radio-element {
            input#when-now, label, input#when-later {}
            label {
              i.fas.fa-check {}
            }
          }
        }
        &.booking__where {
          .address-input {
            .input {
              i.fas.fa-map-marker-alt, input {}
            }
            .icons {
              i.fas {
                &.fa-subway, &.fa-plane, &.fa-location {}
              }
            }
            button.add-step {
              i.fas.fa-plus {}
            }
            i.fas.fa-random {}
            .input {
              i.fas.fa-flag, input {}
            }
            .icons {
              i.fas {
                &.fa-subway, &.fa-plane, &.fa-location {}
              }
            }
          }
        }
        &.booking__panel {
          label, input#panel {}
        }
        &.booking__datetime {
          .input {
            i.far.fa-calendar, input#date, i.far.fa-clock {}
            input#date {}
          }
        }
        &.booking__cartype {
          .radio-element {
            input#cartype-berline, label {}
            .info {
              .persons {
                i.fas {
                  &.fa-user, &.fa-suitcase {}
                }
              }
            }
            input#cartype-luxe, label {}
            .info {
              .persons {
                i.fas {
                  &.fa-user, &.fa-suitcase {}
                }
              }
            }
            input#cartype-green, label {}
            .info {
              .persons {
                i.fas {
                  &.fa-user, &.fa-suitcase {}
                }
              }
            }
          }
        }
      }
      button {}
    }
    section.offers {
      section.offer {
        &.offer--blue, &.offer--purple {
          img.background {}
          .content {
            h3 {
              span {}
            }
            a {}
          }
        }
      }
    }
  }
}